doctype html
html
  head
    title Login
    link(type='text/css',rel="stylesheet",href="css/login.css")
  script(src="js/jquery-3.3.1.js")
  script(src="js/login.js")
  body
    .login-page
        .form
            form.login-form
                input(id="username",type="text",placeholder="Username")
                input(id="password",type="password",placeholder="Password")
                button#submit Sign In

            